#footer {
	background-color: $primary-color;
	color: $body-text-color;
	max-width: none;
	padding: 40px 20px;
	width: 100%;

	a {
		color: $body-text-color;
		transition: $transition;

		&:hover svg {
			&.facebook-svg {
				fill:#3C5A9A;
			}

			&.instagram-svg {
				fill: #8E5D4F
			}

			&.twitter-svg {
				fill: $light-blue-color;
			}

			&.youtube-svg {
				fill: $ny-red-color;
			}
		}
	}

	div.row {
		color: $body-text-color;
		font-family: $nav-font;
		text-align: center;
		width: 100%;

		@include textStyle(1.5px, lowercase);
	}

	.footer-container {
		align-content: center;
		display: flex;
		justify-content: center;
	}

	.footer-content {
		margin-right: 20px;
	}

	li {
		list-style: none;
	}

	svg {
		fill: $body-text-color;
		height: 32px;
		transition: $transition;
		width: 32px;
	}

	ul {
		padding: 0;
		margin: 0;
	}
}